.container {
  padding: 1rem 6rem;
  display: flex;
  flex-wrap:wrap;
}

.headerWrapper{padding:20px 4vw;display: flex;justify-content:space-between;align-items:center;}
.headerWrapper button{position: relative;transform:none;top:auto;left:auto;}
.headerWrapper .name{font-weight:300;opacity:.60;text-transform:uppercase;letter-spacing:1px;display: block;margin-bottom:3px;font-size:14px;}
.headerWrapper .list{font-size:22px;display: block;font-weight:600;}

.card{max-width:270px;margin-right:7px;margin-left:7px;overflow:hidden;margin-bottom:20px;cursor: pointer;}
.card .image{position: relative;}
.card .image img{max-width:100%;border-radius:10px;}
.card .image .player{position: absolute;left:10px;bottom:10px;width:45px;height:45px;display: flex;transition:all .3s ease-in-out;}
.card .image .player audio{display: none;}
.card .image .player:after{content:"";background-color: #FFF;border-radius:100px;transition:all .4s ease-in-out;display: block;flex:0 0 auto;width:45px;}
.card:hover .image .player{width:auto;right:10px;}
.card:hover .image .player:after{opacity:1;visibility: visible;width:100%;flex:1}
.card h2{margin:0;font-size:16px;margin-top:8px;font-weight:500;letter-spacing:.6px;margin-left:15px;}

.small-title{font-size: 32px;font-weight: 500;font-family: 'Grand Rainbow Demo';}
.large-title{font-size: 55px;font-weight: 500;font-family: 'Grand Rainbow Demo';}
.medium-title{font-size: 45px;font-weight: 500;font-family: 'Grand Rainbow Demo';}

.main-wrapper{min-height: 100vh ;width: 100%;display: flex;align-items: center;justify-content: center;}
.bg-animation{position: absolute;top: 0;left: 0;height: 100% ;width: 100%;z-index: -1; overflow: hidden;}
#bg-wrapper svg{vertical-align: middle;}