.container {
  padding: 1rem 10rem;
  display: flex;
  flex-wrap:wrap;
}

.headerWrapper{padding:20px 4vw;display: flex;justify-content:space-between;align-items:center;
  button{position: relative;transform:none;top:auto;left:auto;}
  .name{font-weight:300;opacity:.60;text-transform:uppercase;letter-spacing:1px;display: block;margin-bottom:3px;font-size:14px;}
  .list{font-size:22px;display: block;font-weight:600;}
}

.card{max-width:270px;
  // margin-right:7px;
  // margin-left:7px;
  overflow:hidden;
  // margin-bottom:20px;
  cursor: pointer;
  .image{position: relative; height: 100%;
    h2{margin:0;font-size:16px;margin-top:8px;font-weight:500;letter-spacing:.6px;margin-left:15px;}
    img{max-width:100%;border-radius:10px; height: 100%;}
    .player{position: absolute;left:50%; transform: translateX(-50%); border-radius: 15px; bottom:10px;width:90%;height:45px;display: flex;transition:all .3s ease-in-out; background-color: rgba(255, 255, 255, 0.4);backdrop-filter: blur(5px);
      .info-title{color: #000;}
      // audio{display: none;}
      // &::after{
      //   content:"";background-color: #FFF;border-radius:100px;transition:all .4s ease-in-out;display: block;flex:0 0 auto;width:45px;
      // }
    }
  }
  &:hover{
    .image{
      // .player{
      //   width:auto;right:10px;
      //   &::after{
      //     opacity:1;visibility: visible;width:100%;flex:1
      //   }
      // }
    }
  }
}







.small-title{font-size: 32px;font-weight: 500;font-family: 'Grand Rainbow Demo';}
.large-title{font-size: 55px;font-weight: 500;font-family: 'Grand Rainbow Demo';}
.medium-title{font-size: 45px;font-weight: 500;font-family: 'Grand Rainbow Demo';
@media (max-width:480px) {font-size: 35px;max-width: 300px;}
}

.main-wrapper{min-height: 100vh ;width: 100%;display: flex;align-items: center;justify-content: center;
  @media (max-width:480px) {padding: 20px;}
}
.bg-animation{position: absolute;top: 0;left: 0;height: 100% ;width: 100%;z-index: -1; overflow: hidden;}
#bg-wrapper svg{vertical-align: middle;}

.logo-wrapper {position: absolute;bottom: 20px;right: 40px;
  @media (max-width:480px){right: 0;margin: 0 20px;}
  .chat-titie {max-width: 150px;background-color: #dbdedf;padding: 15px;border-radius: 20px;margin-bottom: 25px;
    @media (max-width:480px){max-width: 100%; text-align: center; margin-bottom: 20px;}
    .botton-title {margin-top: 10px;
    a{text-decoration: underline;}
    }
  }
  .logo-wrap{ display: flex; justify-content: center;
    img{display: block; height: auto;
    }
    @media (max-width:480px) {justify-content: flex-end;}
  }
}

@media (max-width:480px) {
  .large-title{
    font-size: 40px;
    text-align: center;
  }
}