.container {
  padding: 1rem 15vw;
  display: flex;
  flex-wrap:wrap;
  @media (max-width:480px) {
    padding: 20px;
  }
}

.headerWrapper{padding:20px 4vw;display: flex;justify-content:space-between;align-items:center;
  button{position: relative;transform:none;top:auto;left:auto;}
  .name{font-weight:300;opacity:.60;text-transform:uppercase;letter-spacing:1px;display: block;margin-bottom:3px;font-size:14px;}
  .list{font-size:22px;display: block;font-weight:600;}
}

.card{max-width:270px;
  overflow:hidden;
  cursor: pointer;
  .image{position: relative; height: 100%;
    h2{margin:0;font-size:16px;margin-top:8px;font-weight:500;letter-spacing:.6px;margin-left:15px;}
    img{max-width:100%;border-radius:10px; height: 100%;}
    .player{ opacity: 0; visibility: hidden;
      padding: 0 10px; position: absolute;left:50%; transform: translateX(-50%); border-radius: 15px; bottom:15px;width:90%;height:60px;display: flex; align-items: center; gap: 10px; background: rgba(255, 255, 255, 0.28);backdrop-filter: blur(6px); transition: all .4s ease-in-out;
      .media-icon{
        height: 40px; width: 40px; background-color: #fff; display: block; border-radius: 50%; flex: 0 0 auto;
      }
      .info-title{color: #fff; text-wrap: nowrap; overflow: hidden; text-overflow: ellipsis;}
    }
    .btn-play{height: 60px; width: 60px; border-radius: 50%; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);background: rgba(255, 255, 255, 0.28);backdrop-filter: blur(6px); transition: all .4s ease-in-out; display: flex; align-items: center; justify-content: center;
    &::after{content: ""; background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='34' viewBox='0 0 21 34' fill='none'%3E%3Cpath d='M0 34V0L21 17.8293L0 34Z' fill='white'/%3E%3C/svg%3E"); background-size: contain; background-position: 100%; background-repeat: no-repeat;height: 25px;width: 20px;display: block;}
    }
  }
  &:hover{
    .image{

    }
  }
}







.small-title{font-size: 32px;font-weight: 500;font-family: 'Grand Rainbow Demo';}
.large-title{font-size: 55px;font-weight: 500;font-family: 'Grand Rainbow Demo';}
.medium-title{font-size: 45px;font-weight: 500; text-align: center; line-height: 1.2; font-family: 'Grand Rainbow Demo';
@media (max-width:480px) {font-size: 35px;max-width: 300px;}
}

.main-wrapper{min-height: 100vh ;width: 100%;display: flex;align-items: center;justify-content: center;
  @media (max-width:480px) {padding: 20px;}
}
.bg-animation{position: absolute;top: 0;left: 0;height: 100% ;width: 100%;z-index: -1; overflow: hidden;}
#bg-wrapper svg{vertical-align: middle;}

.logo-wrapper {position: absolute;bottom: 20px;right: 40px;
  @media (max-width:480px){right: 0;margin: 0 20px;}
  .chat-titie {max-width: 150px;background-color: #dbdedf;padding: 15px;border-radius: 20px;margin-bottom: 25px;
    @media (max-width:480px){max-width: 100%; text-align: center; margin-bottom: 20px;}
    .botton-title {margin-top: 10px;
    a{text-decoration: underline;}
    }
  }
  .logo-wrap{ display: flex; justify-content: center;
    img{display: block; height: auto;
    }
    @media (max-width:480px) {justify-content: flex-end;}
  }
}

@media (max-width:480px) {
  .large-title{
    font-size: 40px;
    text-align: center;
  }
}
.button-wrapper {
  position: relative;
    .btn{letter-spacing: .5px; display: block;padding: 10px 40px;border-radius: 35px;border: none;color: #fff;background-color: #1E2F28; transition: all .4s ease-in-out;}
    &:hover{
      .btn{
          background-color: #fff;
          color: #000;
      }
      .button-bg {
          position: absolute;
          top: 0;
          left: 0;
          width: calc(100% + 4px);
          height: calc(100% + 4px);
          background: linear-gradient(90deg, #FF8038 0%, #FF0099 30.43%, #00EBEB 68.23%, #DB00FF 100%);
          background-size: 600% 600%;
          border-radius: 50px;
          animation: AnimateBorder 4s ease infinite;
          -webkit-animation: AnimateBorder 4s ease infinite;
          -moz-animation: AnimateBorder 4s ease infinite;
          z-index: -1;
          transform: translate(-2px, -2px);
          transition: filter 1s ease-in;
        }
    }
}
@-webkit-keyframes AnimateBorder {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimateBorder {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimateBorder {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}