.container {padding: 0 15vw;display: flex;flex-wrap:wrap;
  @media (max-width:480px) {padding: 20px;}
}

.swiper-box{
  position: absolute;top: 0;left: 0;width: 100%;height: 100%;overflow: hidden;
  .container {position: relative;top: 50%;left: 50%;transform: translate(-50%,-50%); z-index: 2;
    .medium-title{width: 100%;
      &:nth-child(2){margin-bottom: 30px;}
      @media (max-width:480px) {max-width: 100%;
      }
    }
  }
}

.headerWrapper{padding:20px 4vw;display: flex;justify-content:space-between;align-items:center;
  button{position: relative;transform:none;top:auto;left:auto;}
  .name{font-weight:300;opacity:.60;text-transform:uppercase;letter-spacing:1px;display: block;margin-bottom:3px;font-size:14px;}
  .list{font-size:22px;display: block;font-weight:600;}
}

.card{width:100% !important; height: 100%; overflow:hidden;cursor: pointer;
  .image{position: relative; height: 100%;
    h2{margin:0;font-size:16px;margin-top:8px;font-weight:500;letter-spacing:.6px;margin-left:15px;}
    img{width:100%; height: 100%;}
    .player{
       opacity: 0; visibility: hidden;
      z-index: 1; border-radius: 10px;
       position: absolute;left:50%; transform: translateX(-50%); bottom:20px;width:90%; background: rgba(255, 255, 255, 0.28);backdrop-filter: blur(6px); transition: all .4s ease-in-out;
      .media-icon{
        height: 40px; width: 40px; display: block; border-radius: 50%; flex: 0 0 auto; border: 1px solid #fff;display: flex; align-items: center; justify-content: center;
        &::after{
          content: "" !important; background-repeat: no-repeat; background-size: contain; background-position: 100%; height: 20px; width: 16px; display: block; transition: all .3s ease-in-out;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='34' viewBox='0 0 21 34' fill='none'%3E%3Cpath d='M0 34V0L21 17.8293L0 34Z' fill='white'/%3E%3C/svg%3E");
        }
        &.active{
          &::after{
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='25' viewBox='0 0 19 25' fill='none'%3E%3Cpath d='M2.5 0.5V24.5M16 0.5V24.5' stroke='white' stroke-width='5' stroke-linejoin='round'/%3E%3C/svg%3E");
          }
        }
      }
      .wrap-control{ border-radius: 10px;
        background: rgba(255, 255, 255, 0.1);
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(20px);
        border-radius: 10px !important;
        .card-title{
          color: #fff;
          overflow: hidden;
          display: -webkit-box !important;
          -webkit-line-clamp: 1 !important;
          -webkit-box-orient: vertical !important;
          padding: 10px 15px 0 15px;
        }
        audio{
          margin-top: 10px;
          height: 30px !important;
          accent-color: red !important;
          border-radius: 9px;
          background-color: #f1f3f4 !important;
          width: 100% !important;
        }
      }
    }
    .btn-play{height: 60px; width: 60px; border-radius: 50%; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);background:rgb(232 232 237/70%);backdrop-filter: blur(7px); box-shadow: inset 0 0 1px rgb(0 0 0/20%); transition: all .4s ease-in-out; display: flex; align-items: center; justify-content: center;
    &::after{content: ""; background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='34' viewBox='0 0 21 34' fill='none'%3E%3Cpath d='M0 34V0L21 17.8293L0 34Z' fill='white'/%3E%3C/svg%3E"); background-size: contain; background-position: 100%; background-repeat: no-repeat;height: 25px;width: 20px;display: block;}
    &.active{
      opacity: 1; visibility: visible; 
    }
    &.current{
      &:before {
        content: "";
        position: absolute;
        z-index: 0;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: block;
        width: 80px;
        height: 80px;
        background: rgba(#fff, 0.65);
        border-radius: 50%;
        animation: pulse-border 1500ms ease-out infinite;
      }
      &:after {
        content: "";
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.01);
        -webkit-backdrop-filter: blur(32px);
        backdrop-filter: blur(6px);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='37' height='43' viewBox='0 0 37 43' fill='none'%3E%3Cpath d='M6 0V43M31 0V43' stroke='white' stroke-width='11'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px 20px;
      }
    }
    }
  }
}

.listen-txt{ display: block;margin-top: 7px;font-weight: 600; text-align: center; width: 100%; transition: all .4s ease-in-out;}
.small-title{font-size: 32px;font-weight: 400;font-family: 'Grand Rainbow Demo';
@media (max-width:480px) {
    font-size: 27px !important;
}
  &.light-title{
  color: #fff;
}
}
.large-title{font-size: 59px;font-weight: 500;font-family: 'Grand Rainbow Demo';}
.medium-title{font-size: 45px;font-weight: 500; text-align: center; line-height: 1.2; font-family: 'Grand Rainbow Demo';
@media (max-width:480px) {font-size: 33px;max-width: 300px;}
}

.main-wrapper{height: 100vh;display: flex;align-items: center;justify-content: center;
  position: absolute;top: 0;left: 0; width: 100%;height: 100%;overflow: hidden;
  @media (max-width:480px) {padding: 20px;height: 100dvh}
}
.bg-animation{position: absolute;top: 0;left: 0;height: 100% ;width: 100%;z-index: -1; overflow: hidden;
}
#bg-wrapper svg{vertical-align: middle;}
.bg-gradient{
  background-color: #E77723;
  background-image: url("../public/assets/images/fwd-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;left: 0;height: 100% ;width: 100%;z-index: -1; overflow: hidden;

}
.logo-wrapper {position: absolute;top: 35px;left: 40px;
  @media (max-width:480px){right: 0;margin: 0 20px; top: auto; bottom: 15px;display: flex;flex-direction: column;
  }
  .chat-titie {
    max-width: 168px;
    height: 240px;
    padding: 20px 30px;
    font-size: 16px;
    position: relative;
    transition: all 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    .top-title{
      margin-top: 20px;
    }
    &::before{
      content: "";
      background-image: url("../public//assets/images/caht-box.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: -1;
      left: -2px;
      @media (min-width:768px) {
          animation: chat-box;
          animation-timing-function: ease-in-out;
          animation-fill-mode: both;
          animation-delay: 2s;
          animation-iteration-count: infinite;
          animation-direction: alternate;
          animation-duration: 4s;
       }
    }       
    @media (max-width:480px){max-width: 100%; text-align: center; margin-bottom: 20px;opacity: 0; visibility: hidden; height: fit-content; background-color: #DADEE0; z-index: 3; border-radius: 10px; padding: 20px; margin-top: 0;
      .close-btn{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48' fill='none'%3E%3Ccircle cx='24' cy='24' r='24' fill='%231E2F28'/%3E%3Cpath d='M13 14L35 34M35 14L13 34' stroke='white' stroke-width='3'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 100%;
        display: block;
        height: 20px;
        width: 20px;
        background-color: #1e2f28;
        position: absolute;
        top: -10px;
        right: 4px;
        border-radius: 50%;
      }
      .top-title{
        margin-top: 0;
      }
      &::before{
        display: none;
      }
      &::after{
        content: "";
        clip-path: polygon(0 0, 100% 0, 50% 100%);
        background-color: #dbdedf;
        height: 15px;
        width: 15px;
        position: absolute;
        bottom: -14px;
        right: 28px;
    }
    }
    .botton-title {margin-top: 10px;
    a{text-decoration: underline;}
    }
  }
  .logo-wrap{ display: flex; justify-content: center;
    img{display: block; height: auto; width: 115px;
      @media (max-width:480px) {
        width: 70px;
        height: auto;
      }
    }
    @media (max-width:480px) {justify-content: flex-end; order: 1;}
  }
  &.active{
    .chat-titie{
      opacity: 1; visibility: visible;
    }
  }
  .msg-round{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75' viewBox='0 0 75 75' fill='none'%3E%3Ccircle cx='37.5' cy='37.5' r='37.5' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28.1361 51.0041H33.3611V57.2466L42.7799 51.0041H47.8123C50.1114 51.0291 52.3344 50.182 54.0337 48.6332C55.733 47.0845 56.7822 44.9493 56.9698 42.6578C57.3411 37.5312 57.3411 32.3844 56.9698 27.2578C56.787 25.125 55.8459 23.1283 54.3172 21.6299C52.7885 20.1314 50.7734 19.2305 48.6373 19.0903C41.5358 18.6366 34.4126 18.6366 27.3111 19.0903C25.1765 19.2308 23.1632 20.1323 21.6367 21.631C20.1103 23.1297 19.172 25.1262 18.9924 27.2578C18.6692 32.3861 18.6692 37.5296 18.9924 42.6578C19.1799 44.9469 20.2271 47.0801 21.9234 48.6285C23.6198 50.1769 25.8394 51.0256 28.1361 51.0041ZM47.2692 43.7459H42.2229L32.5842 50.3734V43.7459H27.3455C26.6358 43.7846 25.9388 43.547 25.4005 43.083C24.8622 42.619 24.5244 41.9647 24.458 41.2572C24.1554 36.5035 24.183 31.7345 24.5405 26.9847C24.593 26.3537 24.8729 25.7632 25.3282 25.3231C25.7834 24.8831 26.383 24.6233 27.0155 24.5922C33.8829 24.1359 40.773 24.1359 47.6404 24.5922C48.2825 24.6102 48.8955 24.8641 49.3622 25.3054C49.8289 25.7468 50.1166 26.3446 50.1705 26.9847C50.4455 31.7382 50.4455 36.5036 50.1705 41.2572C50.079 41.9568 49.7322 42.598 49.1967 43.0574C48.6611 43.5168 47.9746 43.762 47.2692 43.7459Z' fill='%231E2F28'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 15px;
    display: none;
    @media(max-width:480px){
      display: block;
    }
  }

}

@media (max-width:480px) {
  .large-title{font-size: 40px;text-align: center;
  }
}
.button-wrapper {
  position: relative;
    .btn{letter-spacing: .4px; display: block;padding: 12px 40px;border-radius: 35px;border: none;color: #fff;background-color: #1E2F28; transition: all .4s ease-in-out;}
    span{
      transition: all .3s ease-in;
    }
    &:hover{
      .btn{
        span{
          opacity: .7;
        }
      }
      // .button-bg {position: absolute;top: 0;left: 0;width: calc(100% + 4px);height: calc(100% + 4px);background: linear-gradient(90deg, #FF8038 0%, #FF0099 30.43%, #00EBEB 68.23%, #DB00FF 100%);background-size: 600% 600%;border-radius: 50px;animation: AnimateBorder 4s ease infinite;-webkit-animation: AnimateBorder 4s ease infinite;-moz-animation: AnimateBorder 4s ease infinite;z-index: -1;transform: translate(-2px, -2px);transition: filter 1s ease-in;
      //   }
    }
}

.loader{margin: 0 auto;display: flex;align-items: center;justify-content: center;overflow: hidden;
  @media (max-width:480px) {
     margin-left: -20px;
     margin-right: -20px;
  }
  .loader-card{height: 22.5vw;min-width: 22vw;border: 1px solid #DDDBDD;background-color: #f6f6f6;animation: wave-lines 2s infinite ease-out; border-radius: 10px; overflow: hidden;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    @media (max-width:480px) {height: 330px;min-width: 330px;
    }
    &:nth-child(1){margin-right: -14vw;height: 15vw !important;
      .top-img{min-height: 100% !important;
      }
      @media (max-width:480px) {display: none;
      }
    }
    &:nth-child(2){margin-right: -7vw;height: 18vw !important; z-index: 1;
      .top-img{min-height: 100% !important;
        @media (max-width:480px) {min-height: 155px !important;
        }
      }
      @media (max-width:480px) {min-width: 133px;height: 240px !important;
      }
      
    }
    &:nth-child(3){
      z-index: 2;
    }
    &:nth-child(4){margin-left: -7vw;z-index: 1;height: 18vw !important;
      .top-img{min-height: 100%;
        @media (max-width:480px) {min-height: 155px !important;
        }
      }
      @media (max-width:480px) {min-width: 133px;height: 240px !important;
      }
    }
    &:nth-child(5){margin-left: -14vw;height: 15vw !important;
      .top-img{min-height: 100% !important;
      }
      @media (max-width:480px) {display: none;
      }
    }
    .top-img{min-height: 100%;width: 100%;
      @media (max-width:480px) {min-height: 215px;
      }
    }
    .footer-wrap{ display: flex; align-items: center; gap: 10px; margin-top: 2vw;
      .img-logo{display: block;height: 3vw;width: 3vw;border-radius: 50%;
        @media (max-width:480px) {height: 30px;width: 30px;
        }
      }
      .control-wrap{ flex: 1 1;
        .top{display: block;height: 10px;width: 100%;border-radius: 5px;animation: wave-lines 2s infinite ease-out;
          &.top-first{margin-top: 10px;width: 80%;
          }
        }
      }
    }
  }
}
.error-wrap{ width: 100%; text-align: center;
  .error-txt{
    text-align: center;
    font-family: 'Grand Rainbow Demo';
    font-size: 35px;
    margin-bottom: 10px;
    @media (max-width:480px) {
      font-size: 30px;
    }
  }
}
.swipe-btn-next,.swipe-btn-prev{
  &::after{

    background-position: center !important;
    background-repeat: no-repeat !important;
    background-position: center 100%;
    background-size: contain;
  }
}

.swipe-btn-prev{
  left: 30% !important;
  color: transparent !important;
  &::after{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='59' viewBox='0 0 35 59' fill='none'%3E%3Cg filter='url(%23filter0_d_1095_182)'%3E%3Cpath d='M28 7L7 30.6842L28 52' stroke='white' stroke-width='8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_1095_182' x='0' y='0' width='35' height='59' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='1.5'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.36 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_1095_182'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_1095_182' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E") !important;
  
  }
  @media (max-width:480px) {
    left: 10px !important;
  }
}
.swipe-btn-next{
  right: 30% !important;
  color: transparent !important;
  &::after{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='59' viewBox='0 0 35 59' fill='none'%3E%3Cg filter='url(%23filter0_d_1095_182)'%3E%3Cpath d='M6.99805 52L27.998 28.3158L6.99805 7' stroke='white' stroke-width='8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_1095_182' x='-0.00195312' y='0' width='35' height='59' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='1.5'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.36 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_1095_182'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_1095_182' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E") !important;
  }
  @media (max-width:480px) {
    right: 10px !important;
  }
}

.pulsate{
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  position: relative;
  &::after{
    content: "";
    height: 100%;
    width: 100%;
    animation: 2s ease-in-out 0.5s infinite normal none running loading;
    background-color: rgba(0, 0, 0, 0.12);
    position: absolute;
  }

      @keyframes loading {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0.3;
      }
        100% {
          opacity: 1;
        }
      }
   }

@keyframes skeletonZoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes AnimateBorder {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimateBorder {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimateBorder {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}


 @keyframes wave-lines {
    0% {
        background-position: -268px 0;
    }
     100% {
        background-position: 268px 0;
    }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;

  }
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@keyframes chat-box{
  0%{
    transform: scale(0.95);
  }
  50%{    
    transform: scale(1);
  }
  100%{
    transform: scale(0.95);
  }
}