@font-face {
    font-family: 'Grand Rainbow Demo';
    src: url('../public/fonts/GrandRainbowDemo.eot');
    src: url('../public/fonts/GrandRainbowDemo.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/GrandRainbowDemo.woff2') format('woff2'),
        url('../public/fonts/GrandRainbowDemo.woff') format('woff'),
        url('../public/fonts/GrandRainbowDemo.ttf') format('truetype'),
        url('../public/fonts/GrandRainbowDemo.svg#GrandRainbowDemo') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FWD Circular Book';
    src: url('../public/fonts/FWDCircular-Book.eot');
    src: url('../public/fonts/FWDCircular-Book.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/FWDCircular-Book.woff2') format('woff2'),
        url('../public/fonts/FWDCircular-Book.woff') format('woff'),
        url('../public/fonts/FWDCircular-Book.ttf') format('truetype'),
        url('../public/fonts/FWDCircular-Book.svg#FWDCircular-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
