@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #1e2f28;
  line-height: 1.4;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}
.swiper-container .swiper-slide-active .control .player-wrapper{
  opacity: 1 !important; visibility: visible !important;
}
.swiper-container .swiper-slide-active .control .active{opacity: 0; visibility: hidden;}

.swiper-container .swiper-slide-active .control::after {
    content: "";background: linear-gradient(0deg, #000000d4, transparent 60%);position: absolute;height: 100%;width: 100%;left: 0;top: 0;bottom: 0;right: 0;transition: all .4s ease-in-out 0s;
}

.swipe-btn{
  &::after{
    content: "" !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100%;
    height: 35px;
    width: 35px;
  }
}
.swiper-button-prev{
  left: 30% !important;
  &::after{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='12' viewBox='0 0 7 12' fill='none'%3E%3Cpath d='M5.5 1L1 6L5.5 10.5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-position: center;
    
  }
}
.swiper-button-next{
  right: 30% !important;
  &::after{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='12' viewBox='0 0 7 12' fill='none'%3E%3Cpath d='M1 10.5L5.5 5.5L1 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-position: center;
  }
}
@media (max-width: 767px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}
.swiper{
  max-height: 300px;
}
.player-wrapper .rhap_container{
  background: rgba(255, 255, 255, 0);
  border-radius: 10px !important;
  box-shadow: none !important;
  padding-top: 5px !important;
}
.player-wrapper .rhap_time{ color: #fff !important; font-size: 12px !important; min-width: 35px;}
.player-wrapper .rhap_progress-indicator{ height: 10px !important; width: 10px !important; top: -3px !important;}
.rhap_progress-bar-show-download{ background-color: #fff !important;}
.rhap_progress-filled { background-color: red!important;}
.rhap_progress-indicator{ background-color: red !important;}
.rhap_container svg path{ fill: #fff !important;}
.rhap_volume-indicator{ background-color: red !important; height: 10px !important; width: 10px !important; top: -3px !important;}
.rhap_stacked .rhap_controls-section{ margin-top: 5px !important;}