.playlist-wrappper{
    text-align: center;
    margin-bottom: 13vw;
    h2{
        margin-bottom: 20px;
    }
    .playlist-img{
        height: 250px;
        width: 250px;
        object-fit: cover;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        // box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        // box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    }
    .listen-txt{
        display: block;
        margin-top: 10px;
    }
}